body {
    font-family: Helvetica, "Helvetica Neue", sans-serif;
}

.center{
    text-align: center;
}
.big{
    margin-left: 50px;
    font-size: 30px;
    font-family: "Times New Roman";
}
.color{
    color: orangered;
}